@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #F6F8FC;
    padding: 0 10vw;
    height: 100vh;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    background-image: url(src/pokeball-icon.png);
    background-repeat: no-repeat;
    background-position-x: -180px;
    background-position-y: -80px;
    overflow: hidden;
}

h1, h2, h3, h4 {
    color: #011030;
    margin: 5px;
}

h4 {
    margin-top: 15px;
}

span {
    color: #8F9396;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-18 {
    font-size: 18px !important;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.width-100 {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.container {
    border-radius: 20px;
    box-shadow: #EDEDED 0 10px 10px;
    padding: 15px;
    background-color: white;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    flex: 1
}

.margin-5 {
    margin: 5px;
}

.hide {
    display: none !important;
}

.type-container {
    border-radius: 5px;
    padding: 3px 7px;
    color: black;
    margin: 5px;
    margin-top: 10px;
    font-weight: 600;
    font-size: 14px;
    opacity: 0.8;
}

.loading-ball {
    height: 60px;
    filter: brightness(80%);
    animation: rotatePokeBall ease-in-out 3s infinite;
}

@keyframes rotatePokeBall {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*List Container*/
#pokedex-list {
    margin-right: 350px;
}

/*Search*/
#search-bar-container {
    margin: 40px 10px;
    height: 50px;
}

#start-search-button {
    background-color: #FF5350;
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: #ff535088 5px 5px 15px;
    color: white;
    font-size: 18px;
}

#start-search-button:hover {
    opacity: 0.8;
    box-shadow: #ff53509c 3px 3px 13px;
}

/*Render search results*/
#pokedex-list-render-container {
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
}

.pokemon-render-result-container {
    flex: 1;
    min-width: 20%;
    margin: 10px;
    margin-top: 60px;
    padding-top: 40px;
    position: relative;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 100ms;
    border: 2px solid white;
}

.pokemon-render-result-container:hover {
    border: 2px solid #e0e0e0;
}

.pokemon-render-result-container:hover .search-pokemon-image {
    transform: scale(1.15);
}

.search-pokemon-image {
    position: absolute;
    top: -55px;
    image-rendering: pixelated;
    image-resolution: 96px;
    transition-duration: 100ms;
}

#loading-div {
    height: 100%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    background-color: white; 
}

.hideLoading {
    animation: hideLoading ease-in-out 0.5s;
    animation-fill-mode: forwards; 
}

@keyframes hideLoading {
    0% {top: 0}
    100% {top: -100vh;}
}

/*Current Pokemon*/
#current-pokemon-container {
    width: 350px;
    margin: 10px;
    height: 85vh;
    position: fixed;
    right: calc(10vw - 50px);
    height: calc(100% - 180px);
    align-items: center;
    padding: 0 15px;
    text-align: center;
    bottom: -3vh;
}

#current-pokemon-info {
    height: 90%;
    display: flex;
    flex-direction: column;
}

#current-pokemon-image {
    position: absolute;
    right: 0;
    left: 0;
    top: -120px;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    image-rendering: pixelated;
    max-width: 350px;
}

#current-pokemon-loading {
    position: fixed;
    right: calc(10vw - 40px);
    object-fit: contain;
    width: 350px;
    top: 175px;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: -1
}

.pokemon-info-variable-container{
    width: 100%;
    background-color: #F6F8FC;
    padding: 8px 0;
    border-radius: 30px;
    margin: 5px;
}


.slide-out {
    animation: slideOut ease-in-out 0.35s;
    animation-fill-mode: forwards; 
}

.slide-in {
    animation: slideIn ease-in-out 0.35s;
    animation-fill-mode: forwards; 
}

@keyframes slideOut {
    0% {right: calc(10vw - 50px)}
    100% {right: -400px}
}

@keyframes slideIn {
    0% {right: -400px}
    100% {right: calc(10vw - 50px)}
}

@media(max-width: 1150px) {
    #current-pokemon-container {
        display:none
    }

    #pokedex-list {
        margin: 0;
    }

    .pokemon-render-result-container {
        min-width: 25%;
        margin-right: 8px;
        margin-left: 8px;
    }

    body {
        padding: 0 5vw;
    }
}

@media(max-width: 380px) {
    .pokemon-render-result-container {
        margin-right: 0;
        margin-left: 0;
        flex: unset;
        width: 100%;
    }

    body {
        width: 90%;
    }
    
    #search-bar-container {
        margin: 40px 0;
    }
}